<?xml version="1.0"?>
<launch>

    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>

    <!-- Parameters and Arguments -->
    <arg name="name"            /> <!-- Name of the vehicle being launched -->   
    <arg name="config_package_path"  /> <!-- Name of the package where the configuration files are stored -->
    <arg name="folder"              default="simulation" />  <!-- Name of the folder for the configuration files --> 
    <arg name="namespace"           default="false" />

    <arg name="filter"              default="false" />  
    <arg name="gnss2utm"            default="false" />  
    <arg name="usbl2pos"            default="false" />
    <arg name="auvstate2mstate"     default="false" />

    <group ns="nav">
        <!-- Vehicle Specific Config File -->
        <arg name="dollar" value="$" />
        <rosparam command="load" file="$(arg dollar)$(arg config_package_path))/config/$(arg folder)/$(arg name)/nav.yaml" />

        <!-- Launch Nodes that are common to all vehicles -->
        <!-- filters: sensor fusion -->
        <group if="$(arg filter)">
            <node pkg="sensor_fusion" type="sensor_fusion" name="filter" respawn="false" output="screen" />
        </group>

        <!-- nav_tools: convert Lat/Lon to UTM -->
        <group if="$(arg gnss2utm)">
            <node pkg="nav_tools" type="gnss_to_utm" name="gnss2utm" respawn="false" output="screen" />
        </group>

        <!-- nav_tools: convert (mUSBLFix) Spherical coordinates to Position -->
        <group if="$(arg usbl2pos)">
            <node pkg="nav_tools" type="usbl_to_pos" name="usbl2pos" respawn="true" output="screen" />
        </group>

        <!-- nav_tools: convert auv_msgs::NavigationStatus state to medusa_msgs::mState -->
        <group if="$(arg auvstate2mstate)">
            <node pkg="nav_tools" type="auvstate_to_mstate" name="auvstate2mstate" respawn="true" output="screen" />
        </group>
    </group>
</launch>